
    {% extends 'base.html' %}
    {% block content %}

        <div class="container row row-cols-2" id="result">
                <div class="col card text-bg-info mb-3 m-2" style="width: 20rem">
                    <div class="card-header bg-secondary text-light">Title</div>
                    <div class="card-body">
                      <p class="card-text">Content</p>
                    </div>
                    <a href="" class="btn btn-danger">Delete</a>
                  </div>
        </div>
    {% endblock %}
